<div class="container">

  <div class="bxslider">
    <div *ngFor="let file of filelist">
      <img [src]="file">
    </div>
    <!-- <div><img src='/assets/ex1.jpg'></div>
    <div><img src='/assets/ex2.jpg'></div>
    <div><img src='/assets/ex3.jpg'></div> -->
  </div>

<!-- material css 슬라이더 -->
<!-- <div class="carousel carousel-slider">
  <a class="carousel-item" *ngFor="let file of filelist">
      <img [src]="file">
  </a>
  <a class="carousel-item" href="#one!"><img src="/assets/ex1.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="/assets/ex2.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="/assets/ex3.jpg"></a>
</div> -->
        
</div>