<!-- <div class="row"> -->
<div class="row" style="display:none">
<div id='btnWrapper' class="col s12">
  <ul class="tabs tabs-fixed-width">
    <li class="tab" *ngFor="let news of newsList; let i=index">
      <a [href]="'#'+news" (click)='myNavigation($event.target, i)'>{{news}}</a></li>
  </ul>
</div> 
<div [id]="news" class="col s12 temp">{{news}}</div>
</div>

<div style="clear:both"></div>

<div class="row">
  <div class="col s12">
    <div class="progress">
      <div class="determinate" [style.width]="progressWidth+'%'"></div>
    </div>

    <div class="myLogo">
      <img src="assets/NewsRobot_new.png" style="height:100%">
      <div id='newsInfo' *ngIf="info.cursor>1">현재 [{{newsKind}}] 뉴스를 보고 있습니다.</div>
    </div>
    
  </div>
</div>