#btnWrapper{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.btn{
  padding: 0 1rem;
}

i{
  color: #fff;
}

.temp{
  visibility: hidden;
  height: 0;
}

#newsInfo{
  text-align: center;
  font-weight: bold;
  opacity: .8;
}

.myLogo{
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}