.playerBtn{
    height: 8rem;
    width: 30%;
    /* background-color: #448aff; */
    background-color: #2CAFCF;
    opacity: 1;
    color: #fff;
    cursor: pointer;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playerBtn:hover{
    opacity: .8;
}

.btnWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
