/* You can add global styles to this file, and also import other style files */
* {
  /* border: 1px solid red; */
  color: #555;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

a{
  cursor: pointer;
}

article{
  /* width: 600px; */
  text-align: center;
}

.side-nav{
  width: 45%;
  opacity: .9;
}

/* 스크롤바 스타일 지정 */
::-webkit-scrollbar { 
  /* display: none;  */
  width: 8px;
  height: 4px; 
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: none;}
::-webkit-scrollbar-track {display: none; }
::-webkit-scrollbar-thumb {background: #eee; -webkit-border-radius: 8px; border-radius: 8px; }